<%- include ('partials/head.ejs') %>
<%- include ('partials/navbar.ejs') %>
<%- include ('partials/banner.ejs') %>
<section class="container p-0  mt-4">
    <h2><%= article.titulo %></h2>
    <p><%- article.body %></p>
    <p><%= article.author %></p>
</section>
<%- include ('partials/footer.ejs') %>